# ABCOM Information Systems Private Limited

# Assessment

In [1]:
#1.Given two strings, a and b, return the result of putting them together in the order abba, 
#e.g. "Hi" and "Bye" returns "HiByeByeHi".

In [2]:
def abba(a, b):
    print(a + b + b + a)
abba ('Hi', 'Bye')

HiByeByeHi

In [3]:
def abba(a,b):
    print(a + b + b + a)
abba ('Yo', 'Alice') 
abba ('What', 'Up')

YoAliceAliceYo
WhatUpUpWhat

In [ ]:
#2.Given 2 strings, a and b, return the number of the positions where they contain the 
#same length 2 substring. So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" 
#substrings appear in the same place in both strings.

In [4]:
def string_match(a, b):
    found = 0
    for i in range(min([len(a), len(b)])-1):
        if a[i] == b[i] and a[i+1] == b[i+1]:
            found += 1
    return found

print(string_match('xxcaazz', 'xxbaaz'))

3

In [5]:
#string_match('abc', 'abc') → 2
#string_match('abc', 'axc') → 0

def string_match(a, b):
    found = 0
    for i in range(min([len(a), len(b)])-1):
        if a[i] == b[i] and a[i+1] == b[i+1]:
            found += 1
    return found

print(string_match('abc', 'abc'))

2

In [6]:
def string_match(a, b):
    found = 0
    for i in range(min([len(a), len(b)])-1):
        if a[i] == b[i] and a[i+1] == b[i+1]:
            found += 1
    return found

print(string_match('abc', 'axc'))

0

In [10]:
#3.Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

#array123([1, 1, 2, 3, 1])  True
#array123([1, 1, 2, 4, 1])  False
#array123([1, 1, 2, 1, 2, 3]) True

In [20]:

def array123(nums):
    for i in range(len(nums)-2):
        if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
            return True
        return False
array123([1, 1, 2, 3, 1])

False

In [21]:
def array123(nums):
    for i in range(len(nums)-2):
        if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
            return True
        return False
array123([1, 1, 2, 4, 1])

False

In [22]:
def array123(nums):
    for i in range(len(nums)-2):
        if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
            return True
    return False

array123([1, 1, 2, 1, 2, 3])

True

In [ ]:
#4.Return the "centered" average of an array of ints, which we'll say is the mean average 
#of the values, except ignoring the largest and smallest values in the array. 
#If there are multiple copies of the smallest value, ignore just one copy, 
#and likewise for the largest value. Use int division to produce the final average. 
#You may assume that the array is length 3 or more.

In [27]:
def centered_average(nums):
    items = len(nums)
    total = 0
    high = max(nums)
    low = min(nums)
    for num in nums:
        total += num
    aveg = (total -high-low) / (items-2)
    return aveg

centered_average([1, 2, 3, 4, 100])

3.0

In [28]:
def centered_average(nums):
    items = len(nums)
    total = 0
    high = max(nums)
    low = min(nums)
    for num in nums:
        total += num
    aveg = (total -high-low) / (items-2)
    return aveg
centered_average([1, 1, 5, 5, 10, 8, 7])

5.2

In [29]:
def centered_average(nums):
    items = len(nums)
    total = 0
    high = max(nums)
    low = min(nums)
    for num in nums:
        total += num
    aveg = (total -high-low) / (items-2)
    return aveg

centered_average([-10, -4, -2, -4, -2, 0])

-3.0

In [30]:
#5.Given 3 int values, a b c, return their sum. However, if any of the values is a teen -- 
#in the range 13..19 inclusive -- then that value counts as 0, except 15 and 16 do not count 
#as a teens. Write a separate helper "def fix_teen(n):"that takes in an int value and returns 
#that value fixed for the teen rule. In this way, you avoid repeating the teen code 3 times 
#(i.e. "decomposition"). Define the helper below and at the same indent level as 
#the main no_teen_sum().
#no_teen_sum(1, 2, 3) → 6
#no_teen_sum(2, 13, 1) → 3
#no_teen_sum(2, 1, 14) → 3

In [32]:
def no_teen_sum(a, b, c):
    return fix_teem(a) + fix_teem(b) + fix_teem(c)

def fix_teem(n):
    if n>=13 and n<=19:
        if n == 15 or n == 16:
            return n
        else:
            return 0
    else:
        return n

no_teen_sum(1, 2, 3)

6

In [33]:
def no_teen_sum(a, b, c):
    return fix_teem(a) + fix_teem(b) + fix_teem(c)

def fix_teem(n):
    if n>=13 and n<=19:
        if n == 15 or n == 16:
            return n
        else:
            return 0
    else:
        return n
no_teen_sum(2, 13, 1)

3

In [34]:
def no_teen_sum(a, b, c):
    return fix_teem(a) + fix_teem(b) + fix_teem(c)

def fix_teem(n):
    if n>=13 and n<=19:
        if n == 15 or n == 16:
            return n
        else:
            return 0
    else:
        return n
no_teen_sum(2, 1, 14)

3

In [35]:
#6.Given a non-empty string like "Code" return a string like "CCoCodCode".

#string_splosion('Code') → 'CCoCodCode'
#string_splosion('abc') → 'aababc'
#string_splosion('ab') → 'aab'

In [37]:
def string_splosion(str): 
    result = ''
    for i in range(len(str)+1): 
        result += str[:i]
    return result

string_splosion('Code')

'CCoCodCode'

In [38]:
def string_splosion(str): 
    result = ''
    for i in range(len(str)+1): 
        result += str[:i]
    return result
string_splosion('aababc')

'aaaaabaabaaababaababc'

In [39]:
def string_splosion(str): 
    result = ''
    for i in range(len(str)+1): 
        result += str[:i]
    return result
string_splosion('aab')

'aaaaab'